body{
    background-image: linear-gradient(to bottom, #B4C4C3, #C4D8D4, #DAE3E0) ;
    height: 78vh;
    text-align: center;
}
#weakness{
    margin-top: 25px;
    margin-left: -15px;
    font-size: 10px;
}
.logo{
  width: 30px;
  height: 30px;
  text-align: left;
}

img{
    width: 250px;
    margin: -9px;
    height: 163px;
    
}
section{
    margin-top: 50px;
    padding-left: 40px;
    text-align: left;
    padding-bottom: 20px;
}
.flip-card {
    width: 300px;
    height: 420px;
}

.flip-card-inner {
  position: static;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-image:url(img/normal\ pokemon.jpg);
    margin: auto;
    border-radius: 15px;
    height: 420px;
    max-width: 300px;
}

.flip-card-back {
  border-radius: 15px;
  transform: rotateY(180deg);
  background-image: url(img/normal\ pokemon.jpg);
  width: 300px;
  height: 420px;
  margin: auto;
}
#name{
  height: 70px;
  width: 190px;
}
#contact{
  height: 100px;
  width: 250px;
}
button{
  width: 250px;
  height: 100px;
  font-size: 30px;
  border-radius: 15px;
  border-color: #365FAC;
  background-color: #FFCC01;
  border-width: thick;
  
}
